<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid header">
    <div class="navbar-brand logo col-5" href="#">
      <a><fa-icon [icon]="icon" size="3x"></fa-icon></a>
    </div>
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
    <button class="navbar-toggler first-button" type="button" style="border: none"
            data-bs-toggle="collapse"
            data-bs-target="#navbarScroll"
            aria-controls="navbarScroll"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <div class="animated-icon1"><span></span><span></span><span></span></div>
    </button>
    <div class="collapse navbar-collapse nav col-7" id="navbarScroll">
      <ol class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 270px;row-gap: 20px">
        <li class="item">
          <a href="#about">
            <span class="num">01.</span>
            about
          </a>
        </li>
        <li class="item">
          <a href="#job">
            <span class="num">02.</span>
            experience
          </a>
        </li>
        <li class="item">
          <a href="#projects">
            <span class="num">03.</span>
            work
          </a>
        </li>
        <li class="item">
          <a href="#footer">
            <span class="num">04.</span>
            contact
          </a>
        </li>
        <a type="button" class="btn" href="https://drive.google.com/file/d/1hNXYWvxJaLTOyMqfmEX60DEy8hAIe5zr/view?usp=sharing" target="_blank">Resume</a>
      </ol>
    </div>
  </div>
</nav>
