@import "./vairable";

p.justify {
  padding: 1rem 0;
  text-align: justify;
}


.numbered-header {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0px 10px;
  width: 100%;
  font-size: $font-size-heading;
  white-space: nowrap;
  color: $lightest-slate;

  &::before {
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 5px;
    color: $secondary-color-3;
    font-size: $font-size-md;
    font-weight: 400;
  }

  &::after {
    content: "";
    display: block;
    width: 35rem;
    height: 1px;
    margin-left: 7px;
    background-color: $secondary-color-3;
  }
}


.btn {
  color: #80FFDB;
  background-color: transparent;
  border: 1px solid #80FFDB;
  border-radius: 13px;
  padding: 1.4rem;
  /* line-height: 1; */
  text-decoration: none;
  cursor: pointer;
  font-size: 1.3rem;
  transition: 0.7s;
  display: inline-flex;
  text-transform: uppercase;
  letter-spacing: 1.5px;

  &:hover {
    outline: none;
    background-color: rgba($secondary-color-3, 0.2);
  }
}
