@import './sass/_vairable';
@import './sass/_header';
@import './sass/background';
@import './sass/about_me';
@import './sass/util';
@import './sass/job';
@import "./sass/projects";
@import "./sass/footer";


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #80FFDB;
  border-radius: 10px;
}
