<div class="container-fluid p-0 dark_mode">
  <div style="padding: 0 6rem">
    <div class="sticky">
      <div class="d-flex flex-column justify-content-between align-items-center" style="height: 100%">
        <div class="icon-holder">
          <a [href]="twitter" target="_blank"><fa-icon [icon]="twitterIcon" size="2x"></fa-icon></a>
        </div>
        <div class="icon-holder">
          <a [href] = "mail"><fa-icon [icon]="mailIcon" size="2x"></fa-icon></a>
        </div>
        <div class="icon-holder">
          <a [href]="github" target="_blank"><fa-icon [icon]="gitIcon" size="2x"></fa-icon></a>
        </div>
        <div class="icon-holder">
          <a [href]="linkedin" target="_blank"><fa-icon [icon]="linkedinIcon" size="2x"></fa-icon></a>
        </div>
      </div>
    </div>
    <app-navbar></app-navbar>
    <section class="row m-0">
      <div class="col-lg-6 col-md-10 col-sm-12 background">
        <div class="background-header">
          <p class="background-header-small">Hi, my name is</p>
          <div class="box">
            <div class="title">
              <span class="block"></span>
              <h1>Fafowora Oluwatobiloba<span></span></h1>
            </div>
            <div class="role">
              <span class="block"></span>
              <p>Software Developer.</p>
            </div>
          </div>
        </div>
        <div class="background-body">
          <p class="background-body-body">
            Fafowora Oluwatobiloba is a proficient software engineer with 4+ years of experience in developing various applications to solve emerging technological challenges.
            He is a Graduate of the prestigious University of Lagos with a background in Computer Science. He has created exceptional UX design, determined backend data display,
            designed styling, colors, and interface, and optimized website navigation.
            He has created a number of software apps for use in the IT industry because of his persistent drive for technological breakthroughs as a software engineer.
            In order to save time and money and improve the hiring process, he is now creating an interview management system for businesses.
            At his place of employment, Fafowora Oluwatobiloba was a member of the team that worked on the design of a financial services
            integration into the Human Resources Department, allowing personnel to take pay day or single tenure loans and subsequently allowing reduction
            from their paycheck during the following pay roll period.
          </p>
        </div>
      </div>
      <div class="col-6"></div>
    </section>
    <section #about id="about" class="row m-0" style="align-items: center">
      <div class="col-lg-6">
        <div class="about-main">
          <h2 class="numbered-header">About me</h2>
          <div>
            <li>Skilled software developer with at least four years' experience creating a range of apps to address new technical problems.</li>
            <li>Demonstrated ability to work in rapid environments, building software systems in various organizations, and using multiple languages like Java, Typescript, HTML, CSS/SCSS, Python, React, Angular, Nodejs, and other relevant JavaScript libraries.</li>
            <li>A track record of successfully picking up new technology and finding technological solutions to problems</li>
            <ul class="about-main-points">
              <li>CSS/SCSS</li>
              <li>HTML</li>
              <li>Angular</li>
              <li>Node js</li>
              <li>Java (Spring Boot)</li>
              <li>Git</li>
              <li>MongoDB</li>
              <li>MySql</li>
              <li>Firebase</li>
              <li>Docker</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-image">
          <div id="foo">
            <img class="about-image-holder" src="../assets/image.webp" />
          </div>
        </div>
      </div>
    </section>

    <section #job id="job" class="job">
      <h2 class="numbered-header">Where I've Worked</h2>
      <div class="row">
        <ul class="nav nav-tabs col-3 d-flex flex-column" style="border: none">
          <ng-container *ngFor="let position of workPositions; let i = index">
            <li class="nav-item">
              <a
                class="nav-link job-container-tab"
                data-bs-toggle="tab"
                (click)="changeWorkPlace(i)"
                [ngClass]="{ active: index == i }"
              >{{ position.work }}</a>
            </li>
          </ng-container>
        </ul>
        <div class="tab-content col-9">
          <div class="tab-content job-container-right__box">
            <h3>
              {{currentWorkDetail.position}}
              <span>@{{currentWorkPlace}}</span>
            </h3>
            <p>{{currentWorkDetail.timeSpent}}</p>
            <ul class="">
              <ng-container *ngFor="let item of currentWorkDetail.workDone">
                <li>{{ item }}</li>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section #projects id="projects">
      <h2 class="numbered-header">Projects</h2>
      <div class="d-flex justify-content-around mt-5 flex-wrap" style="row-gap: 3rem">
        <ng-container *ngFor="let project of myProjects">
          <div class="projects-box">
            <div class="image">
              <fa-icon [icon]="folderIcon" size="4x"></fa-icon>
            </div>
            <div class="body">
              <h5>{{project.projectName}}</h5>
              <p>
                {{project.projectDescription}}
              </p>
            </div>
            <div class="footer">
              <ng-container *ngFor="let tech of project.technologies">
                <p>{{tech}}</p>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
    </section>
    <app-footer #footer></app-footer>
  </div>
</div>
