@import "./vairable";

#footer {
  grid-column: 1/12;
  padding: 12rem 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: $laptop-small){
    padding: 4rem 7rem;
  }
}

.footer{

  &-container{
    width: 58rem;
    text-align: center;
    margin: 2rem 1rem;
  }

  &-header{
    font-size: 5.5rem;
    color: $lightest-slate;
    margin-bottom: 3rem;
  }

  &-small{
    font-size: 1.4rem;
    margin: 0;
  }
}
