@import "./vairable";

.header {
  grid-row: header-start/header-end;
  grid-column: 2/12;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  .nav {
    display: flex;
    width: 49rem;
    justify-content: space-between;
    align-items: center;

    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      width: 36rem;
      margin: 0;

      .item {
        padding-right: 5px;
        padding-left: 5px;
        text-transform: capitalize;
        font-family: $font-medium;
        font-size: $font-size-xs;
        color: whitesmoke;
        cursor: pointer;

        &:hover {
          color: $secondary-color-3;
          transition: 0.8s;
          border-bottom: 1px $secondary-color-3 solid;
        }
      }
    }
  }
}
