@import "./vairable";

.header {
  grid-column: 2/12;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  @media only screen and (max-width: $laptop-small){
    grid-column: 3/10;
    padding: 2rem 0;
  }

  @media only screen and (max-width: $tablet-big){
    grid-column: 3/9;
    padding: 2rem 0;
  }

  .nav {
    display: flex;
    width: 63rem;
    justify-content: space-between;
    align-items: center;

    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      width: 51rem;
      margin: 0;

      .item {
        padding-right: 5px;
        padding-left: 5px;
        text-transform: capitalize;
        font-family: $font-medium;
        font-size: $font-size-xs;
        color: whitesmoke;
        cursor: pointer;

        a{
          color: $secondary-color-3;
          text-decoration: none;
        }

        &:hover {
          color: $secondary-color-3;
          transition: 0.8s;
          border-bottom: 1px $secondary-color-3 solid;
        }
      }
    }
  }
}
