@import "vairable";

#job{
  grid-column: 2/11;
  grid-row: info-start 3 / info-end 3;
  padding: 7rem 22rem;

  .job{
    &-container{
      display: flex;
      justify-content: space-between;
      margin-top: 4rem;

      &-left{
        width: 20rem;
        display: flex;
        flex-direction: column;
        border-bottom: none;
      }
      &-right{
        width: 66rem;
        padding: .5rem;

        &__box{
          width: 47rem;

          h3{
            font-size: 2.2rem;
            span{
              color: #80FFDB;
            }
          }
          p{
            font-size: $font-size-xs;
            margin-bottom: 1.3rem;
          }

          ul{
            overflow: hidden;
            list-style: none;
            margin: 0;
            padding: 0;

            li{
              font-size: $font-size-md;
              margin-bottom: 1rem;

              &::before{
                content: "▹";
                left: 0px;
                color: $secondary-color-3;
              }
            }
          }
        }
      }

      &-tab{
        background-color: transparent;
        color: $slate;
        font-size: $font-size-sm;
        padding: 9px 12px;
        border-left: 2px solid $lightest-navy;
        border-bottom: none;
        border-top: none;
        border-radius: 0;
        border-right: none;
        cursor: pointer;
      }
    }
  }
}

.active{
 border-left: 3px solid $secondary-color-3 !important;
 color: $secondary-color-3 !important;
 transition: all .4s ease-in;
 font-weight: 600 !important;
}
