@import "vairable";
#projects{
  grid-column: 2/12;
  grid-row: project-start / project-end;
  padding: 4rem 14rem;

  .projects{
    &-container{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 4rem;
    }

    &-box{
      border: 1px solid;
      width: 32rem;
      height: 29rem;
      padding: 2rem;
      border-radius: 13px;

      .image{
        height: 4rem;
      }
      .body{
        margin: 2rem 0;
        height: 15rem;

        h5{
          font-size: 1.5rem;
          font-weight: 700;
          color: $lightest-slate;
        }
        p{
          font-size: 1.2rem;
        }
      }
      .footer{
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p{
          font-size: 1.2rem;
        }
      }
    }
  }
}
