@import "./vairable";

p.justify {
  padding: 1rem 0;
  text-align: justify;
}

.num {
  color: $secondary-color-3;
}

.numbered-header {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0px 10px;
  width: 100%;
  font-size: $font-size-heading;
  white-space: nowrap;
  color: $lightest-slate;

  &::before {
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 5px;
    color: $secondary-color-3;
    font-size: $font-size-md;
    font-weight: 400;
  }

  &::after {
    content: "";
    display: block;
    width: 35rem;
    height: 1px;
    margin-left: 7px;
    background-color: $secondary-color-3;
  }
}
