$laptop-medium: 75em;       //1200px
$laptop-small: 64em;        //1024px
$tablet-big: 56em;          //896px
$tablet-small: 48em;        //768px
$tablet: 37.28em;           //596.5px
$mobile-large:  26.8em;    //429px
$mobile-medium: 23.46em;    //375px
$mobile-small:  20.1em;     //320px

$dark-color: #252525;
$secondary-color-1: #6930C3;
$secondary-color-2: #64DFDF;
$secondary-color-3: #80FFDB;
$lightest-navy: #233554;
$slate: #8892b0;
$black-color: #000000;
$white-color: #ffffff;
$grey-color: #C4C4C4;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$font-primary: 'Poppins-Regular';
$font-header: 'Poppins-Bold';
$font-Subheader: 'Poppins-SemiBold';
$font-medium: 'Poppins-Medium';

//font sizes
$font-size-xxs: 1.2rem;
$font-size-xs: 1.3rem;
$font-size-sm: 1.4rem;
$font-size-md: 1.6rem;
$font-size-lg: 1.8rem;
$font-size-xl: 2rem;
$font-size-xxl: 2.2rem;
$font-size-heading: 3.2rem;
